.alignnone {
	max-width: 100%;
	height: auto;
	margin-right: 0;
	margin-left: 0;
}

.aligncenter {
	display: block;
	height: auto;
}

.alignleft,
.alignright {
	height: auto;
}

@media screen and ( min-width: 768px ) {
	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}
}

.wp-caption-text {
	padding: 2px 6px 4px;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	border: 0;
	clip-path: inset(50%);
	word-wrap: normal !important;
}
