@media screen and ( min-width: 992px ) {
	:root {
		--font-size-sm: 0.925rem;
		--font-size-std: 1.125rem;
		--font-size-lg: 1.325rem;
		--font-size-xl: 1.625rem;
		--font-size-xxl: 2rem;
		--font-size-xxxl: 2.75rem;
		--font-size-title: 4rem;
	}
}
