.wp-block .wcus-button .editor-plain-text {
	margin: 0;
	height: auto !important;
	border: 0;
	box-shadow: none;
	background: transparent;
	color: inherit;
	font: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-align: inherit;
}
